<!DOCTYPE html>
<html>
<head>
    <title>FastAPI</title>
</head>

<body style="background-color:#dedcdc;">
    <div>
        <h1>Name</h1>
            <form action='/form1' method="POST">
                <p>Name</p>
                <input name="name">
                <br>
                <p>Password</p>
                <input name="pw">
                <br> <br>
                <input type="submit" value="Login">
            </form>
    </div>
    <div>
        <h2>USERNAME = {{name}}</h2>
        <h2>PASSWORD = {{pw}}</h2>
    </div>
</body>
</html>